{% extends "layout.html" %}
{% block content %}
<h1>Compassion in Self-Attachment Technique (SAT)</h1>
<p>For the past few thousand years, compassion has been the basis of human civilizations and the key fundamental concept
    in all great religions and moral philosophies, including Buddhist and Confucian philosophies, Hinduism and Abrahamic
    religions.</p>

<p>In evolutionary psychology, compassion is considered as an emotion distinct from love, sadness and empathy with
    three core bases: “that compassion evolved as part of a caregiving response to vulnerable offspring, that
    compassionate individuals were preferred in mate selection processes, and that compassion emerged as a desirable
    trait in cooperative relations between non-kin”.</p>

<p>In recent decades, compassion has emerged as a main subject for evidenced-based scientific study in positive
    psychology and mental health. In the research literature in the subject, compassion is defined as “sensitivity to
    suffering in self and others with a commitment to try to alleviate and prevent it”.</p>

<p>To tackle the global existential threats to human civilization and life on the planet in this century, we argue, a
    new variant of compassion is urgently needed, which goes well beyond compassion to individuals and takes a long
    term, global perspective and impact on millions of people.</p>

<p>Foresighted global compassion is “to fully recognise and empathically feel the real suffering of the great majority
    of the human beings across the globe as well as the destruction of other species, all caused by human greed, and to
    take decisive and foresighted actions to counter it”.</p>

<p>This type of compassion is exemplified today by young climate activists such as Greta Thunberg but has its precursor
    in great social reformers and leaders such as Florence Nightingale, Rosa Luxemburg, Mahatma Gandhi, Nelson Mandela
    and Desmond Tutu. If our species is to survive the current existential challenges, our world requires thousands of
    such iconic figures with their selfless visions for positive change, their global transformative action programmes
    and their unlimited source of intentional compassion energy to bring about a new world.
</p>


<p>Since 2010, the Algorithmic Human Development group has worked out a self-administrable and non-invasive protocol
    called self-attachment to enhance compassion to the self and others; it has had some basic promising results in both
    clinical and non-clinical populations. In addition, our 2020 8-week trial in a non-clinical population in Canada
    resulted in foresighted global compassion in a sizable group of the participants, who independently set up a
    non-profit organisation to promote the self-attachment technique (SAT).</p>

<p>Because the self-attachment technique (SAT) is self-administrable, it can be made scalable using cutting edge
    technologies like virtual reality (VR), mobile apps and chatbots.</p>

<p>The SAT algorithm for generating compassion mimics mother nature’s protocol, perfected during several million years
    of evolution, for optimal interaction of parents with their infants, aiming to produce emotionally and socially
    intelligent individuals. It consists of imaginatively creating initially a compassionate connection to our childhood
    self, by using our childhood photos or VR. This compassionate connection is then enriched, using love songs, dance
    and play, to develop a strong, imaginative, affectional bond with our childhood self. Finally, the optimal
    parent-child interactions--- invoked when the child is distressed or stressed with negative emotions or moods--- are
    emulated to imaginatively re-parent our childhood self to emotional and social maturity.</p>



{% endblock content %}